/* home page container */
.container {
    display: flex;
    flex-direction: column;
    width:100vw;
    height:100vh;
    background-image: url("images/steps.jpg");
    border-radius:10%;
    background-repeat: no-repeat; 
    background-attachment: fixed; 
    background-size:cover;
    padding: 10px;
} 
/* Aishwarya krishnan format */
.name{
    color:black; 
    top: 160px;
    left:40px;
    position:absolute;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 50px;
    
}

/* aspiring dev format */
.dev{
    color:black;
    left: 80px;
    top: 240px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    ;
}
    
}
/* navigation bar */
#navbar{
    /* text-decoration: none; */
    display:flex;
    flex-direction:column;
    border-style: solid;
    border-color:darkslategrey;
    /* text-align:right; */
    justify-content: flex-end;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* buttons on navbar */
.nav-button {
   
    font-weight:normal;
    border-radius: 10%;
    background-color:teal;
    color: black;
    font-size: 20px;
    justify-content: end;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 20px;
}
/* paragraph on all pages */
p {
    color:darkorange;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 400px;
    text-align: center;
    font-size:25px;
    font-weight:bold;  
}
/* headings on all pages */
h1{
    color:black;
    font-weight:bolder;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align:end;
    margin-top:10px;
    padding-top: 20px;
    text-decoration:underline;
}

/* blog page container */
.articles {
    background-image: url("images/pencils.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding:0;
    width:100vw;
    height:100vh;
}
/* image on blog page */
.pencil-image {
    background-image: url ("images/pencil.jpg"); */
    background-repeat: no-repeat;
    width:100%;
    background-size: 100%;
    background-attachment: fixed;
}

/* blog page container excluding navbar */
.wrapper{
    display:flex-wrap;
    flex-direction: row; 
}

/* 5 blog items */
.blog-item {
    display: flex-wrap;
    flex-direction: row;
}

/* image on blog item */
.blog-item img {
    display:flex-wrap;
    height: 230px;
    width: 230px;
    justify-content: flex-start;
    border-radius: 30%;
    border-style: solid;
    border-color:limegreen;
    float: right;
    margin-top: 70px;
    margin-right: 15px;
}

/* contact page container */
.contact-container{
    border-style: solid;
    border-color:orange;
    height:100vh;
    width:100vw;
    background-image: url("images/redphone.jpg");
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
}

/* contact page container excluding navbar */
.contact-box{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    background-attachment: scroll;
    justify-content: center;
    align-items: flex-end;
}

/* container for form */
.form{
    height:70vh;
    width:50vw;
    font-weight:bold;
    text-align: right;
    color:darkorange;
    flex-direction: column;
    justify-content: space-around; 
    align-items: flex-end;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding-right:20px;
    margin-right: 100px;
}

/* contact submit button */ */
.button{
    height:40px;
    width:60px;
    background-color:orange;
    border-radius:10%;
    font-family:Arial, Helvetica, sans-serif;
    color:whitesmoke;
    font-size: 20px;
    border-style:solid;
    border-color: black;
}
/* footer */
.copyright{
    text-align:right;
    position:relative;
    color:teal;
    font-weight:normal;
    padding:0;
    right:10px
}
/* about me page container */
.about-container{
    background-image: url("images/bg-1.jpeg");
    background-repeat: no-repeat;
    background-size: 100%;
    height:200vh;
    width:100vw;
    background-attachment:scroll;
    opacity:1;
    border-radius:10px;
    padding: 10px;
}

/* about-me past */
.past{
    /* display:inline;÷ */
    height: 70vh;
    
}
/* about-me girl-image */
.past img{
    height:380px;
    width:380px;
    border-style:solid;
    border-color:lightgreen;
    border-radius:10%;
    top:70px;
    left:50px;
    position: absolute;
    /* float:left */
}
/* about-me heading "what i did in the past" */
.past h1{
    display:block;
    text-align:center;
    right:20px;
    font-size: 30px;
    font-weight:bold;
    padding-top:50px
}
/* about-me paragraph */
.past p {
    float:right;
    text-align:right;
    font-size: 25px;
    font-weight:bold;
    padding-right:20px;
    
}
/* code image */
.present img{
    height:350px;
    width:520px;
    border-style:solid;
    border-color:lightgreen;
    border-radius:10%;
    /* right:20px; */
    /* top:500px; */
    /* position: absolute;  */
    float:right;
    right:25px;
    
}
/* present container */
.present{
    height:70vh;
    width:100vw;
}
/* heading of present div */
.present h1{ 
    text-align: center;
}
/* presentparagraph */
.present p{
    text-align: left;
    padding-left:20px;
}
 
.resume{
    color: teal;
}

/* social div */
.social {
    height:20vh;
    width:40vw;

}
/* image on social div */
.social img {

    height:40px;
    width:40px;
    float:left;
    margin-left:20px;
    left:20px;
    border-style:solid;
    border-color:lightslategray
}