/* 
* {
    margin: 0;
    padding: 0;
} */
.container {
    display: flex;
    flex-direction: row-reverse;
    width:100vw;
    height:100vh;
    background-image: url("images/steps.jpg");
    background-repeat: no-repeat; 
    /* background-position:center;
    background-position-x: center;
    background-position-y:center; */
    background-attachment: fixed; 
    background-size:cover;
    padding: 10px;
    /* position: relative */
    
    
    /* margin:10px;
    padding: 0px; */
    /* box-sizing: border-box */
} 
/* body{
    overflow: hidden;
} */
.steps-image {
    background-image: url("images/steps.jpg");
    background-repeat: no-repeat;
    width: 100%;
    border-radius:50px;
    background-attachment: fixed; 
    background-size: 100%;
    border-color: grey;
    border-style: solid;
    border-width:thick;
}

.pencil-image {
    background-image: url ("images/pencil.jpg");
    background-repeat: no-repeat;
    width:100%;
    border-radius:10px;
    border-style: solid;
    border-width:thick;
    border-color:rgb(52, 118, 232);
    background-size: 100%;
    background-attachment: fixed;
}
.articles {
    background-image: url("images/pencils.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    margin: 0;
    padding:0;
    width:100vw;
    height:100vh;
}
/* div{
    display:inline-block
} */

.top-left{
    color:orange; 
    top: 130px;
    left:40px;
    position:absolute;
    font-family: shrikhand, cursive;
    font-size: 50px;
    font-weight: normal;
    
    
}
.heading{
    color: orange ;
    font-weight: lighter;
    left: 80px;
    top: 210px;
    position: absolute;
    font-family: shrikhand, cursive;
    font-size: 30px;
    ;
}
    
}

#navbar{
    /* text-decoration: none; */
    display:flex;
    flex-direction:column-reverse;
    border-style: solid;
    background-color: palegreen;
    /* justify-content:center;  */
    /* align-items:flex-end; */
    color:darkslategrey;
    /* text-align:right; */
    justify-content: flex-end;
    font-family: shrikhand, cursive;
    
}

.nav-button {
    border-radius: 10%;
    background-color:pink;
    color: orange;
    /* text-decoration: none; */
    font-size: 25px;
    text-align:right;
    font-family: shrikhand, cursive;
    padding-left: 20px;;
    top:0;
    right:20px;

    
}

p {
    color:darkorange;
    font-family: shrikhand, cursive;
    padding-left: 400px;
    text-align: center;
    font-size:25px;
    font-weight:bold
    
}

h1{
    color:teal;
    font-weight:bolder;
    font-size: 30px;
    font-family: shrikhand, cursive;
    text-align:end;
    margin-top:10px;
    padding-top: 20px;
    text-decoration:underline;
    
    
}

img {
    /* background-image:url("images/travel.jpg"); */
    width:50px;
    height:50px;
    /* position: absolute; */
    bottom:100px;
    top:50px;
    left:30px;
}
.wrapper{
    display:flex-wrap;
    flex-direction: row;
    
}
.blog-item {
    display: flex-wrap;
    flex-direction: row;
}
.blog-item img {
    display:flex-wrap;
    height: 230px;
    width: 230px;
    justify-content: flex-start;
    border-radius: 30%;
    border-style: solid;
    border-color:limegreen;
    float: right;
    margin-top: 70px;
    margin-right: 15px;
    /* padding-left:50px; */
}
.contact-container{
    border-style: solid;
    border-color:orange;
    height:auto;
    width:auto;
    background-image: url("images/redphone.jpg");
    background-repeat:no-repeat;
    background-attachment: scroll;
    background-size: 100% 100%;
    /* border-style: solid; */
    /* border-color: darkblue; */
    /* background-color:lightgray; */
    border-radius:5%;
    
}
.contact-box{
    display:flex;
    flex-direction: column;
    height:100vh;
    width:100vw;
    background-attachment: scroll;
    justify-content: center;
    align-items: flex-end;
    /* align-items: center; */
    
}
.format{
    height:70vh;
    width:50vw;
    font-weight:bold;
    /* display:flex; */
    text-align: right;
    color:darkorange;
    /* align-items:center; */
    flex-direction: column;
    justify-content: space-around; 
    align-items: flex-end;
    font-family: shrikhand,cursive;
    font-size: 20px;
    /* padding-right: 100px; */
    padding-right:20px;
    margin-right: 100px;
}
.format label,
.format input {
    /* height:50px; */
}
.button{
    height:40px;
    width:60px;
    background-color:orange;
    /* background-color:light orange */
    border-radius:10%;
    font-family:shrikhand, cursive;
    color:whitesmoke;
    font-size: 15px;
    border-style:solid;
    border-color: black;
}

.copyright{
    text-align:right;
    position:relative;
    color:teal;
    font-weight:normal
}

.about-container{
    /* display:flex; */
    /* flex-direction: column; */
    background-image: url("images/bg-1.jpeg");
    background-repeat: repeat;
    background-size: 100%;
    height:200vh;
    width:100vw;
    background-attachment:scroll;
    opacity:1;
    border-radius:10px;
    padding: 10px;
    
}

.icons {
    height:70px;
    width:100px;
    padding-top: 50px;
    right:20px
}


/* about-me past */
.past{
    /* display:inline;÷ */
    height: 70vh;
    
}
/* about-me girl-image */
.past img{
    height:380px;
    width:380px;
    border-style:solid;
    border-color:lightgreen;
    border-radius:10%;
    top:70px;
    left:50px;
    position: absolute;
    /* float:left */
}
/* about-me heading "what i did in the past" */
.past h1{
    display:block;
    text-align:center;
    right:20px;
    font-size: 30px;
    font-weight:bold;
    padding-top:50px
}
/* about-me paragraph */
.past p {
    text-align:right;
    font-size: 25px;
    font-weight:bold;
    padding-right:20px;
}

.present img{
    height:350px;
    width:520px;
    border-style:solid;
    border-color:lightgreen;
    border-radius:10%;
    /* right:20px; */
    /* top:500px; */
    /* position: absolute;  */
    float:right;
   right:20px;
    
}

.present{
    height:70vh;
    width:100vw;
}
/* heading of present div */
.present h1{ 
    text-align: center;
}

.present p{
    text-align: left;
    padding-left:20px;
}